* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px 60px 0px 50px;
    height: 420px;
}

#container1-1 {
    margin-left: 200px;
}

h1 {
    font-size: 40px;
    margin: 50px 90px 10px 60px;
    display: block ;
    height: auto;
    font-family: 'PT Serif', serif;
}

h2 {
    font-size: 25px;
    margin: 50px 50px 10px 50px;
    font-family: 'Poppins', sans-serif;
    position: left;
}

#intro1 {
    min-width: 600px;
    height: 100px;
}

#intro2 {
    font-size: 20px;
    width: 500px;
    height: 250px;
    margin: 45px 40px 10px 50px;
}

p {
    margin: 8px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    display: flex;
    width: 90%;
    height: 150%;
    margin: 10px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    flex-wrap: wrap; 
}

.box {
    width: 37vh;
    height: 58vh;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

img {
    width: 33vh;
    height:46vh ;
    border-radius: 3%;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.25);
    display: block;
}

h3 {
    writing-mode: vertical-lr;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 16px;
    font-weight: lighter;
}

#box2 {
    margin-top: 10vh;
}

#box5 {
    margin-top: 30vh;
}

@media (max-width:1000px) {

    #box2 {
        margin-top: 20vh;
    }
    
    #box4 {
        margin-top: 20vh;
    }
    
    #box6 {
        margin-top: 20vh;
    }

    @media (max-width:900px) {
        .flex-container {
            min-width: 700px;
            height: auto;
            justify-content: space-evenly;      
        }
    
        .box {
            height: 50vh;
            width: 39vh;
            margin-top: 40px;
            margin-left: 2%;
            margin-right: 3%;
            position: relative;
        }
        
        img {
            width: 34vh;
            height:40vh ;
        }
        
        img {
            width: 35vh;
            height:40vh ;
        }